<div fxLayout="row" fxLayoutAlign="center center">

  <form class="example-form" #readsFrom="ngForm">
    <mat-form-field>
      <mat-select [placeholder]="'Select a sensor'" required name="sensorSelect" [(ngModel)]="selectedSensor" #sensorInput="ngModel">
        <mat-option *ngFor="let sensor of availableSensors$ | async" [value]="sensor">
          {{ sensor.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" name="start" #startDateInput="ngModel" [(ngModel)]="startDate">
        <input matEndDate placeholder="End date" name="end" #endDateInput="ngModel" [(ngModel)]="endDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <div>
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="chartsSeries"
        [rangeFillOpacity]=1
      >
      </ngx-charts-line-chart>
    </div>
    <div>
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="secondChartsSeries"
      >
      </ngx-charts-line-chart>
    </div>
    <div>
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="thirdChartsSeries"
      >
      </ngx-charts-line-chart>
    </div>
    <div>
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="fourthChartsSeries"
      >
      </ngx-charts-line-chart>
    </div>
    <ng-container *ngIf="averageValue">
      <p><br>
        <b>Average value:</b> {{averageValue}}<br><br>
        <b>Min value:</b> {{minValue}}<br><br>
        <b>Max value:</b> {{maxValue}}
      </p>
    </ng-container>
    <div class="buttons-container">
      <button mat-raised-button (click)="export()" [disabled]="!dataToExport">
        <mat-icon class="mat-icon material-icons "
                  role="img" aria-hidden="true">import_export
        </mat-icon>
        Export Data as JSON
      </button>
    </div>
  </form>

</div>
