<div  fxLayout="row" fxLayoutAlign="center center">

  <form class="example-form" #readsFrom="ngForm" >
    <mat-form-field>
      <mat-select [placeholder]="'Select a sensor'" required name="sensorSelect" ngModel #sensorInput="ngModel">
        <mat-option *ngFor="let sensor of availableSensors$ | async" [value]="sensor">
          {{ sensor.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" name="start" #startDateInput="ngModel" [(ngModel)]="startDate">
        <input matEndDate placeholder="End date" name="end" #endDateInput="ngModel" [(ngModel)]="endDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="multi"
    >
    </ngx-charts-line-chart>
  </form>

</div>
