<mat-toolbar color="primary" class="mat-elevation-z6">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <button mat-button disabled class="logo">
      <mat-icon>home</mat-icon>
      <span>MeshHomeApp</span>
    </button>
  </div>
  <div fxShow="true" fxHide.lt-md="true" class="toolbar-buttons">
    <button mat-button routerLinkActive="active-link" routerLink="objects">Objects
    </button>
    <button mat-button routerLinkActive="active-link" routerLink="reads">Sensor values
    </button>
    <button mat-button routerLinkActive="active-link" routerLink="climate">Microclimatic comfort
    </button>
    <button mat-button routerLinkActive="active-link" routerLink="custom-switch">Custom switches
    </button>
    <span class="spacer"></span>
    <button mat-raised-button class="menu-right" color="warn" (click)="authService.SignOut()">Logout
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="example-container" [ngStyle]="{'height': 'revert'}">
  <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
    <div fxLayout="column" fxLayoutGap="10px">
      <a mat-button routerLinkActive="active-link" routerLink="objects">Objects </a>
      <a mat-button routerLinkActive="active-link" routerLink="reads">Sensor values</a>
      <a mat-button routerLinkActive="active-link" routerLink="climate">Microclimatic comfort www</a>
      <a mat-button routerLinkActive="active-link" routerLink="custom-switch">Custom switches</a>
      <div fxFlexAlign="center">
        <button mat-raised-button color="warn" (click)="authService.SignOut()">Logout
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill class="content" >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

