:host {
  .content{
    padding: 0px;
  }

  .logo span {
    color: white;
    font-size: 22px;
  }

  .logo mat-icon {
    color: white;
    margin-right: 3px;
  }


  .spacer {
    flex: 1 1 auto;
  }

  .menu-right {
    margin-left: 20px;
  }

  .toolbar-buttons {
    width: 100%;
    display: flex;
  }

  button.active-link {
    background-color: #f4511e;
  }

  .example-container {
      background-image: url("/assets/images/background.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }


}
