:host {
  margin-top: 30px;

  .first-column {
    margin-right: 30px;
  }

  .second-column {
    min-width: 300px;
  }

  .result-header{
    margin-top: 15px;
  }

  .example-form {
     background-color:  rgba(255, 255, 255, 0.9);
     padding: 50px;
  }
}
