/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {
  width: 80%;
  margin: auto;
  padding: 20px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;

  textarea {
    height: 150px;
  }
}
