<div class="content">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(value)]="currentType"
                             (valueChange)="onChangeType($event)" >
      <mat-button-toggle *ngFor="let type of types | async" [value]="type">{{type}}</mat-button-toggle>
    </mat-button-toggle-group>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let object of objects$ | async ; trackBy:trackByObjectId">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Name: {{object.name}}
        </mat-panel-title>
        <mat-panel-description >
          <div fxLayout="row" fxLayoutAlign="center center">
            <div *ngIf="object.objectType === 'relay'" fxLayout="row" fxLayoutAlign="center center">
              <mat-icon [ngStyle]="{'color': object.value ? 'green' : 'grey'}" style="cursor: pointer;">circle
              </mat-icon>
              <button mat-raised-button
                      class="header-button"
                      (click)="changeValue( $event, object)">
                {{object.value ? 'Turn off' : 'Turn on'}}
              </button>
            </div>
            <div *ngIf="object?.objectType?.endsWith('Sensor')" fxLayout="row" fxLayoutAlign="center center">
              <button mat-raised-button
                      class="header-button"
                      (click)="goToValues( $event, object)">
                Go to values
              </button>
            </div>
            <div fxShow="true" fxHide.lt-md="true">
              Description: {{object.description}}
            </div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="content">
        <form class="form" #objectForm="ngForm">
          <mat-form-field floatLabel="always">
            <input matInput placeholder="Name"
                   [(ngModel)]="object.name"
                   name="Name">
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <input matInput placeholder="Description"
                   [(ngModel)]="object.description"
                   name="Description ">
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <input matInput placeholder="Device type"
                   [(ngModel)]="object.objectType"
                   disabled
                   name="Device type">
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <input matInput placeholder="Node identifier"
                   [(ngModel)]="object.nodeId"
                   disabled
                   name="Node identifier">
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <input matInput placeholder="Internal identifier"
                   [(ngModel)]="object.objectId"
                   disabled
                   name="Internal identifier">
          </mat-form-field>
          <mat-form-field *ngIf="object.objectType === 'relay'" floatLabel="always">
            <input matInput placeholder="Value"
                   [(ngModel)]="object.value"
                   disabled
                   name="Value">
          </mat-form-field>
        </form>
        <div class="buttons-container">
          <button mat-raised-button color="primary"
                  (click)="updateCourse(object)">
            Save
          </button>
          <button *ngIf="object.objectType === 'relay'" mat-raised-button color="primary"
                  (click)="changeValue(object)">
            {{object.value ? 'Turn off' : 'Turn on'}}
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

