:host {

  .example-form {
    background-color:  rgba(255, 255, 255, 0.9);
    padding: 50px;
  }

  .wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }


  .buttons-container{
    button{
      margin: 10px;
    }
  }
  .header-button{
    margin: 0 10px;
  }
}
